.comment
  .user
    .avatar
    .date Feb 26 14
  .commentbody Hello {{name}} Lorem ipsum dolor sit amet, qui cibo maiorum ex. Mea cu percipit principes, at agam moderatius instructior eum. No eum dicant postulant, at duo nulla elaboraret. At quo perpetua consetetur, no est facilisi omittantur. Quaeque ponderum ei vix.  Nostro sententiae mea ut, ea brute tantas verterem sea. Est an munere vidisse neglegentur, petentium complectitur mei ei. In commodo maluisset gubergren pri, te vituperata appellantur cum. Fabulas inermis sed et, eius interesset ne duo. Vis quidam deserunt vulputate cu, mel ea perfecto pertinax neglegentur.
  .replybtn
    i.fa.fa-reply
