form(ng-controller='commentCtrl', novalidate)
  .user
    .avatar(ng-src='$scope.me.avatar') //not how to do this correctly
    .date date.now() or whatever
  textarea.commentbox
  button.submitReply
