extends layouts/layout

block content
  .col-lg-3.conversations
    .comment(ng-repeat="comment in comments") 
      .user
        .avatar
        .date {{comment.date | date : 'MMM dd yyyy'}}
      .commentbody I'm {{comment.name}}.  {{comment.body}}
      .replybtn
        i.fa.fa-reply
  .col-lg-6.article 
    .articlebody 
    .prev
      i.fa.fa-chevron-left
    .next
      i.fa.fa-chevron-right
  .col-lg-3.pages 
    div
      | Angular seed app: 
      span(app-version)
