extends layouts/layout

block content
  .row(ng-controller='')
    p.postArticleTitle.center-block POST AN ARTICLE
    textarea.postArticle.center-block(ng-model='')
    button.submit.center-block(ng-click='')
      i.fa.fa-plus-circle
