/* app css stylesheet */

/** Main styles go here **/
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=PT+Serif);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:500,700);

section.container {
  width: 100%;
  max-width: 100%;
}

.container-fluid {
  height: 100%;
}

::selection {
  background: #65c1dd; /* Safari */
}

::-moz-selection {
  background: #65c1dd; /* Firefox */
}

html, body {
  margin-top: 0;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
}

body {
    color: #fff;
    margin: 0;
    background: #2e2e2e;
}

.top {
  height: 80px;
  margin: 0;
  padding: 8px 0px 0px 8px;
}

#logo {
  height: 72px;
  width: 72px;
}

.conversations {
  overflow: hidden;
}

.article {
  padding: 0;
  height: 550px;
  overflow: hidden;
}

.articlebody {
  margin: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 22px;
}

.articlebody:first-child:first-letter {
    //float: left;
    font-size: 52px;
    line-height: 32px;
    padding-right: 2px;
    right: -4px;
  }

.pages {
}

.comment { 
  background: #484848;
  margin: 8px 0 8px 0;
  padding: 3px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

.commentbody {
    font-size: 12px;
    position: absolute;
    top: 0;
    margin: 2%;
    display: inline-block;
    height: 100%;
  }

.user {
  
  display: inline-block;
  margin: 8px 4px 8px 0;
  text-align: center;
  width: 40px;
}

.user .avatar { 
    width: 32px;
    height: 32px;
    background: #fff;
    margin: 2% auto 2% auto;
  }

.date { 
  text-transform: uppercase;
  font-size: 11px;
  margin-left: auto;
  margin-right: auto;
}

.replybtn { 
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  height: 100%;
  width: 18px;
  background: #a3c532;
  cursor: pointer;
}

.replybtn:hover {
    background: #8CEC4F;
  }

.fa-reply {
  color: white;
  position: relative;
  right: 0;
  top: 40%;
  //left: 75%;
}

.prev {
  float: left;
}

.next {
  float: right;
}

/* http://osvaldas.info/elegant-css-and-jquery-tooltip-responsive-mobile-friendly */

.tip
{
    font-size: 18px;
    color: #cece61;
    text-align: center;
    content: ' ';
    background: rgba(18, 18, 18, 1);
    position: absolute;
    z-index: 100;
    padding: 8px; 
    border-radius: 4px;
}

.tip i {
  margin: 4px;
  float: right;
  //margin-left: 4px;
}
.tip:hover { 
  background: rgba(36, 36, 36, 1);
  color: #dede71;
}
    .tip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid rgba(18, 18, 18, 1);
        content: '';
        position: absolute;
        left: 50%;
        top: -6px;
        margin-left: -6px;
    }

    .tip:after:hover {
      background: rgba(36, 36, 36, 1);
    }

#dropfile {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.commentptr {
  text-transform: uppercase;
  display: block;
  position: absolute;
  color: #faa21b;
  text-decoration: none;
  cursor: pointer;
}

.commentptr:hover {
  text-decoration: none;
  color: #fdcf0f;
}

.commentbox {
  width: 100%;
  background: #3D3D3D;
  font-size: 12px;
  color: white;
  border: none;
}

.commentname {
  font-size: 12px;
  float: left;
  color: white;
  margin: 0;
  padding: 0;
}

.convoArrow {
  left: 0;
  position: absolute;
  width: 0px;
  height: 0px;
  margin-top: 9px;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #faa21b;
}

.fa-asterisk {
  margin: 8px;
}

.fa-leaf {
}

.note {
  margin: 8px;
  display: block;
  position: absolute;
  color: #cece61;
}

.note:hover {
  color: #b7e560;
  text-decoration: none;
  cursor: pointer;
}

.gutter {
  font-family: 'Source Code Pro';
  font-size: 14px;
  font-weight: 500;
  padding: 8px 8px 8px 16px;
  text-align: center;
  border-left: 1px solid;
  height: 100%;
  min-height: 100%;
}

.holder {
  display: none;
  position: absolute;
}

.postArticleTitle {
  font-weight: 900;
  text-align: center;
  margin-top: 8px;
}


.postArticle {
  background: #4d4d4d;
  border: none;
  width: 400px;
  height: 600px;
  margin-top: 8px;
  float: none;
  border-radius: 3px;
}

.submit {
  border: none;
  border-radius: 3px;
  background: #cece61;
  color: white;
  float: right;
  padding-right: 3px;
  width: 28px;
  text-align: center;
  height: 28px;
  margin-top: 8px;
}

.submit:hover {
  background: #eeee72;
}

.fa-plus-circle {
  position: relative;
  left: 0;
  top: 0;
}

.userinput {
  height: 18px;
  display: inline-block;
  background: #4d4d4d;
  float: left;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  color: #eeeeee;
  padding: 3px;  
}
